@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&family=Source+Code+Pro:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: url(Code_presentation_background.png);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    padding: 25px;
}

.cabecalho-imagem{
    height: 70px;
}

.cabecalho-menu{
    display: flex;
    gap: 20px;
}

.cabecalho-menu-item{
    font-family: 'Source Code Pro', monospace;

}